/* You can add global styles to this file, and also import other style files */
/* PC */
@media only screen and (min-width: 1024px) {
    html {
      scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    .banner-image {
        background-image: url('./../public/senderismo.jpeg');
        background-size: cover;
        background-position: center;
    }
}
/* Mobiles */
@media only screen and (max-width: 1024px) {
    html {
      scroll-behavior: smooth;
    }
    
    .banner-image {
      background-image: url('./../public/senderismo.jpeg');
      background-size: cover;
      background-position: center;
  }
}


.banner-image {
  background-image: url('./../public/senderismo.jpeg');
  background-size: cover;
  background-position: center;
}